@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background: url(body3.jpg) no-repeat;
    background-size: cover;
    height: 100vh; 
}
.navbar{
    height: 80px;
    width: 100%;
    /*background: rgba(0, 0, 0, 0.4);*/
    background-color: #698DD6;
    opacity: 80%;
}
.logo{
    width: 400px;
    height: auto;
    padding: 0px 20px;
    /*background-color: rgba(0, 0, 0, 0.4);*/
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px, 13px;
    font-family: 'Roboto', sans-serif;
    transition: 0.4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: rgb(157, 71, 13);
    border-radius: 2px;

}
.wrapper .center{
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}
.center .counBtn{
    margin-top: 5px;
    margin-left: 700px;
}
.counBtn button{
    height: 50px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(157, 71, 13);
    background: #C0C5C1;
    border: 5px solid #3E38DC;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
    
}
.counBtn button:hover{
    background: #3E38DC;
}
.center h1{
    color:  #3E38DC;
    font-size: 40px;
    font-weight: bold;
    width: 895px;
    margin-top: 15px;
    text-align: center;
}
.center h2{
    color:  rgb(157, 71, 13);
    font-size: 40px;
    font-weight: bold;
    width: 895px;
    margin-top: 10px;
    text-align: center;
}
.center .buttons{
    margin: 35px 280px;
}
.buttons button{
    height: 50px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #3E38DC;
    border: 2px solid rgb(157, 71, 13);
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.5s;
}
.buttons button:hover{
    background: #AB692E;
}